<!DOCTYPE html>
<html>
  <head>
    <title>Tango</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  	<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%=image_tag("rsz_tangologo.png", size: '306x71')%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Projects", '#' %></li>
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <div class="center jumbotron">
      <h1>Welcome to Tango</h1>

      <h2>Where it takes two to tango...</h2>

      <%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
