<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>


    <title>Tango</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("orange_area.png", size: '81x81', id: "logo"), '#' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Projects", '#' %></li>
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <small>
        Tango, a site for Capital One Carbon 2017.
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
