
<h1> My Projects </h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Github Page</th>
      <th>Progress</th>
      <th>Dev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Project.all.sort_by{|proj| proj.progress}.reverse.each do |project| %>
	  <% if project.user_id == current_user.id || project.dev == current_user.email %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><% if project.githuburl %>
        <%= link_to 'View', project.githuburl, :id => "button", :class => "btn" %>
        <% else %>
        None
        <% end %></td>
        <td>
        <div class='progress progress-striped'>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%=project.progress%>%;">
          <%=project.progress%>%
        </div>
      </div>
      </td>
        <td><%= project.dev %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.ngo? %>
<div align="center" text-color="white">
<%= link_to 'New Project', new_project_path, { :class=>"btn btn-default button", :id=>"button" } %>
</div>
<% end %>


 

</div>